/*   --- root css --- */
:root {
  --font-size: 100%;
  --container: 90rem;
  --H1: 0.9375rem;
  --H2: 0.875rem;
  --H5: 0.9375rem;
  --H6: 0.8125rem;
  --par: 1rem;
  --clr-body: #f5f5f5;
  --clr-header: #2b2d31;
  --clr-header-H1: #ffffff;
  --clr-separation: #ffffff;
  --clr-H2: #7c8187;
  --clr-bg-H2: #f5f5f5;
  --clr-bg-separator: #e4e4e4;
}

/*   --- normalize css --- */
html {
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
}

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

/*  --- reset css --- */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
body,
form,
aside,
input,
section,
article {
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
}

li {
  list-style-type: none;
}

input {
  outline: none;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #505050;
}

/* --- typography --- */
@font-face {
  font-family: "Roboto";
  src: url(../assets/webfonts/Font-face/Roboto-Regular.woff2) format("woff2"), url(../assets/webfonts/Font-face/Roboto-Regular.ttf) format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "Roboto";
  src: url(../assets/webfonts/Font-face/Roboto-Light.woff2) format("woff2"), url(../assets/webfonts/Font-face/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../assets/webfonts/Font-face/RobotoSlab-Light.woff2) format("woff2"), url(../assets/webfonts/Font-face/RobotoSlab-Light.ttf) format("truetype");
  font-weight: 300;
}
@font-face {
  font-family: "Roboto Slab";
  src: url(../assets/webfonts/Font-face/RobotoSlab-Bold.woff2) format("woff2"), url(../assets/webfonts/Font-face/RobotoSlab-Bold.ttf) format("truetype");
  font-weight: 700;
}
@font-face {
  font-family: "Commissioner";
  src: url(../assets/webfonts/Font-face/Commissioner-Bold.woff2) format("woff2"), url(../assets/webfonts/Font-face/Commissioner-Bold.ttf) format("truetype");
  font-weight: 700;
}
/*   --- general settings --- */
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: var(--font-size);
  scroll-behavior: smooth;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  background-color: #505050;
}

/*  --- header --- */
.header {
  background-color: var(--clr-header);
  font-family: Roboto, serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.header .top__header {
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.header .top__header.refresh {
  -webkit-transition: none;
  transition: none;
}
.header .top__container {
  max-width: var(--container);
  margin-inline: auto;
  position: relative;
}
.header .save__changes--btn,
.header .top__header__right,
.header .top__header__file,
.header .top__header,
.header .menu__icon,
.header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .menu__open {
  background-image: url(../assets/img/icon-menu.svg);
}
.header .menu__close {
  background-image: url(../assets/img/icon-close.svg);
}
.header .menu__icon {
  background-repeat: no-repeat;
  background-position: center;
  width: 4.5em;
  aspect-ratio: 1/1;
  background-color: #35393f;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out background-color;
  transition: 0.2s ease-in-out background-color;
}
.header .menu__icon:hover, .header .menu__icon:focus {
  background-color: #e46643;
}
.header .menu h1 {
  font-family: Commissioner, sans-serif;
  font-size: var(--H1);
  font-weight: 700;
  line-height: 1.2em;
  letter-spacing: 0.3333333333em;
  color: var(--clr-header-H1);
  text-transform: uppercase;
  padding-inline: 1.6em;
  padding-block: 0.7333333333em;
  border-right: 1px solid #979797;
}
.header .top__header__file .icon__file {
  padding-inline: 1.5em 1em;
}
.header .top__header__file .icon__file img {
  width: 0.875em;
  height: 1em;
  background-color: var(--clr-header);
}
.header .top__header__file h6 {
  font-size: var(--H6);
  font-weight: 300;
  line-height: 1.1538461538em;
  color: #c1c4cb;
}
.header .top__header__file h5 {
  margin-top: 0.3333333333em;
  font-size: var(--H5);
  font-weight: 400;
  line-height: 1.2em;
  color: #ffffff;
}
.header .top__header__right {
  margin-left: auto;
}
.header .top__header__right .bin {
  width: 1.125em;
  height: 1.25em;
  margin-right: 1.5em;
  cursor: pointer;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.header .top__header__right .bin:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.header .top__header__right .bin:hover svg path {
  fill: #e46643;
}
.header .top__header__right .save__changes--btn {
  padding-inline: 1.0625em;
  padding-block: 0.625em;
  border-radius: 0.25em;
  margin-right: 1em;
  background-color: #e46643;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  cursor: pointer;
}
.header .top__header__right .save__changes--btn:hover {
  background-color: #f39765;
}
.header .top__header__right .save__changes--btn:hover img {
  background-color: #f39765;
}
.header .top__header__right .save__changes--btn img {
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
  background-color: #e46643;
  width: 1em;
  height: 1em;
  margin-right: 0.5em;
}
.header .top__header__right .save__changes--btn h5 {
  font-size: var(--H5);
  font-weight: 400;
  line-height: 1.2em;
  color: #ffffff;
}

.left__panel {
  position: absolute;
  max-width: 15.625em;
  background-color: #1d1f22;
  height: 100svh;
  padding: 1.5em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  top: 0;
  left: 0;
  border-left: 1px solid #151619;
}
.left__panel h2 {
  font-size: var(--H2);
  line-height: 1.1428571429em;
  font-weight: 500;
  letter-spacing: 2px;
  color: #7c8187;
}
.left__panel #new__document {
  margin-top: 1.875em;
  text-align: center;
  border-radius: 0.25em;
  padding-block: 0.625em;
  background-color: #e46643;
  cursor: pointer;
  -webkit-transition: 0.2s ease-in-out background-color;
  transition: 0.2s ease-in-out background-color;
}
.left__panel #new__document:focus, .left__panel #new__document:hover {
  background-color: #f39765;
}
.left__panel #new__document h5 {
  color: #ffffff;
}
.left__panel h5 {
  font-size: var(--H5);
  line-height: 1.2em;
  font-weight: 400;
  color: #ffffff;
  margin-bottom: 0.2em;
  cursor: pointer;
}
.left__panel h5:hover {
  color: #e46643;
}
.left__panel h6 {
  font-size: var(--H6);
  font-weight: 300;
  line-height: 1.1538461538em;
  color: #7c8187;
}
.left__panel #document__list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
  margin-block: 1.5em;
}
.left__panel #theme {
  margin-top: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1.5em;
}
.left__panel #theme .theme__switcher {
  position: relative;
  width: 3em;
  height: 1.5em;
  border-radius: 0.9375em;
  background-color: #5a6069;
  margin-inline: 0.75em;
  cursor: pointer;
}
.left__panel #theme .theme__switcher::after {
  position: absolute;
  content: "";
  width: 0.75em;
  aspect-ratio: 1/1;
  background-color: #ffffff;
  border-radius: 50%;
  top: 0.3125em;
  right: 0.3125em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.left__panel #theme .sun path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  fill: #ffffff;
}
.left__panel #theme .moon path {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.left__panel #theme.dark__theme--switch .moon path {
  fill: #ffffff;
}
.left__panel #theme.dark__theme--switch .sun path {
  fill: #5a6069;
}
.left__panel #theme.dark__theme--switch .theme__switcher::after {
  right: 1.875em;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

/* --- home main --- */
.dark__theme {
  --clr-body: #1d1f22;
  --clr-separation: #151619;
  --clr-H2: #c1c4cb;
  --clr-bg-H2: #1d1f22;
  --clr-bg-separator: #5a6069;
}

.home {
  font-optical-sizing: auto;
  background-color: var(--clr-body);
}

.open {
  -webkit-transform: translateX(14.0625em);
          transform: translateX(14.0625em);
  max-width: calc(100% - 14.0625em);
}

.container {
  max-width: var(--container);
  margin-inline: auto;
}

.separation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100svh - 4.5em);
  background-color: var(--clr-separation);
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}
.separation > * {
  padding-bottom: 1em;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}
.separation h2 {
  padding-inline: 1em;
  font-family: Roboto, serif;
  font-size: var(--h2);
  font-weight: 500;
  line-height: 1.1428571429em;
  letter-spacing: 0.1428571429em;
  text-transform: uppercase;
  padding-block: 0.8571428571em;
  background-color: var(--clr-bg-H2);
  color: var(--clr-H2);
}
.separation .markdown {
  border-right: 1px solid var(--clr-bg-separator);
}

.separation.refresh {
  -webkit-transition: none;
  transition: none;
}

/* mediaqueries */
/*# sourceMappingURL=home.css.map */
