@use '../tools/' as *;

// --------------------
/*   --- root css --- */
// --------------------

:root {
    --font-size: #{$font-size-100};
    --container: #{$cont__width--PC};
    // sizes
    --H1: #{$H1--PC};
    --H2: #{$H2--PC};
    --H5: #{$H5--PC};
    --H6: #{$H6--PC};
    --par: #{$par--PC};
}
